.categoryFilter {
  display: flex;
  gap: 11px;
  padding: 10px;
  border-radius: 8px;
}

.active {
  font-weight: bold;
}

.button {
  padding: 8px 20px;
  border: 2px solid; /* 기본 테두리 */
  border-radius: 20px; /* 둥근 테두리 */
  transition: all 0.3s ease;
}
