.categoryFilter {
  display: flex;
  gap: 11px;
  padding: 10px;
  /* background-color: gray; */
}

.active {
  font-weight: bold;
}

.button {
  padding: 8px 20px;
  border: 2px solid;
  border-radius: 20px;
  transition: all 0.3s ease;
}
